/*
 *  Brought to you by Yago Estévez. https://twitter.com/yagoestevez
 */
@import "https://fonts.googleapis.com/css?family=Just+Another+Hand";

/******************************************************************************
  BASIC DOM RESET AND GLOBAL VARIABLES SET UP.
 ******************************************************************************/
:root,
*,
*:before,
*:after {
  padding         : 0;
  margin          : 0;
  box-sizing      : border-box;
}

:root {
  --light-color   : #fbfcfd;
  --dark-color    : #0084ac;
  --key-color     : red;
}

/******************************************************************************
  DOM STYLING.
 ******************************************************************************/
html, body {
  box-sizing      : border-box;
  height          : 100%;
  width           : 100%;
  display         : flex;
  justify-content : center;
  align-items     : flex-end; 
  font-family     : 'Just Another Hand', cursive;
  font-size       : 50px;
  color           : var(--light-color);
  background      : linear-gradient(
    to bottom,
    transparent,    transparent 58px,
    #13a1cc 2px,  #13a1cc
  );
  background-size : 100% 60px;
  overflow        : hidden;
}
 
body::before {
  content         : " ";
  position        : absolute;
  top             : 0;
  left            : 0;
  height          : 100%;
  width           : 100px;
  border-right    : 4px double red;
}

nav {
  display         : none;
}

a {
  outline         : 0;
}

a#author, a#author:visited {
  color           : var(--dark-color);
  font-size       : 30px;
  text-decoration : none;
  position        : absolute;
  right           : 20px;
  bottom          : 30px;
  transition      : color 300ms; 
}

a#author:hover, a#author:active {
  color           : var(--key-color);
  text-decoration : underline;
}


/******************************************************************************
  MEDIA QUERIES.
 ******************************************************************************/
@media only screen and (max-width: 800px) {
  #Sketch {
    width           : 100%;
    height          : 100%;
    align-items     : flex-end;
  }
  #SVG {
    width           : 100vw;
    height          : 100vw;
    margin-bottom   : 10px;
  }
  html, body {
    background      : linear-gradient(
      to bottom,
      transparent,    transparent 29px,
      #13a1cc 2px,  #13a1cc
    );
    background-size : 100% 30px;
  }
  body::before {
    width           : 30px;
  }
  a#author, a#author:visited {
    font-size       : 20px;
    right           : 20px;
    bottom          : 20px;
  }
}